In [1]:
import pandas as pd 

df = pd.read_csv('Employees.csv',parse_dates=['Start Date','Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.sort_values('First Name',inplace=True)
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2012-02-17,2020-12-28 10:20:00,61602,11.849,True,Marketing
327,Aaron,Male,1994-01-29,2020-12-28 18:48:00,58755,5.097,True,Marketing
440,Aaron,Male,1990-07-22,2020-12-28 14:53:00,52119,11.343,True,Client Services
937,Aaron,NaN,1986-01-22,2020-12-28 19:39:00,63126,18.424,False,Client Services
137,Adam,Male,2011-05-21,2020-12-28 01:45:00,95327,15.120,False,Distribution

In [5]:
df['First Name'].drop_duplicates()
len(df['First Name'].drop_duplicates())

201

In [6]:
len(df)

1000

In [9]:
df.drop_duplicates(subset=['First Name'])
len(df.drop_duplicates(subset=['First Name']))

201

In [21]:
df.drop_duplicates(subset=['First Name','Team'],inplace=True)
len(df)

769

In [22]:
len(df)

769

In [11]:
len(df.drop_duplicates(subset=['First Name','Team']))

769